{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}

{% block title %}
    {{ "title_edit"|trans({'%name%': admin.toString(object) }, 'SonataAdminBundle') }}
{% endblock %}


{% block sonata_tab_content %}
    <div class="col-md-12">
        <div class="box box-success">
            <div class="box-body">
                <div class="sonata-ba-collapsed-fields">
                    {% for field in form.translations %}
                        {{ form_row(field) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}